.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.main_container h1 {
  font-size: 48px;
  margin-bottom: 20px;
  color:#61dafb;
}

.main_container section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80vh;
  gap: 20px;
}

.explanation_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.text_container {
  height: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text_container p {
  text-align: left;
}
.main_container section .explanation_container .text_container h2 {
  font-size: 24px;
}

.main_container section .explanation_container pre {
  width: 100%;  
  padding: 20px;
  font-size: 16px;
  background-color: #383b42;
  color: #61dafb;
  border-radius: 5px;
  border: 1px solid #61dafb;
  overflow: auto;
}

.main_container section .explanation_container pre::-webkit-scrollbar {
  background-color: #ffffff;
}

.main_container section .explanation_container pre::-webkit-scrollbar-thumb {
  background-color: #282c34;
}

.content_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.content{
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.btn_container button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #61dafb;
  color: #282c34;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #282c34;
}

.btn_container button:hover {
  background-color: #282c34;
  color: #61dafb;
  border: 1px solid #61dafb;
}

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}

.square {
  width: 400px;
  height: 200px;
  background-color: #61dafb;
  color: #282c34;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #282c34;
  border-radius: 5px;
  border: 1px solid white
}